{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gamers Hub</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/cyborg/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/feed.css">
  <link rel="stylesheet" href="/static/css/home.css">
  <link rel="stylesheet" href="/static/css/sidebar.css">
  <link rel="stylesheet" href="/static/css/style.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap" rel="stylesheet">

  <meta name="csrf-token" content="{{ csrf_token }}">
</head>

<style>
  .app-container {
    max-width: 1100px;
    margin: 0 auto;
    background-color: #f8f9fa;
    box-sizing: border-box;
    padding-left: 0 !important;
    border-left: none !important;
    border-right: none !important;
    padding-right: 0 !important;
  }

  .app-container .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .app-container .col {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
  }

  .main-content {
    overflow-y: auto;
  }

  .vh-100 {
    height: 100vh;
  }

  @media (max-width: 991px) {

    .sidebar,
    .main-content,
    aside {
      height: auto;
    }
  }
</style>

<style>
  .back-button {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    margin: none;
    padding: none;
  }

  .back-button i {
    font-size: 1.5rem;
    /* Icon size */
  }
</style>

<body style="background-color: black">
  <div class="app-container container-fluid">
    <div class="row vh-100 g-0">
      <!-- Sidebar -->
      <nav class="col-xxl-2 col-xl-3 col-lg-3 text-white sidebar d-flex flex-column text-start" style="background-color: black">
        <div class="position-sticky" style="top: 20px;">
          <a class="navbar-brand my-3" href="{% url 'profile' profile_owner.username %}">
            <img src="{% if user_profile.avatar %}{{ user_profile.avatar.url }}{% else %}{% static 'images/default_avatar.png' %}{% endif %}"
            class="rounded-circle me-2" alt="Avatar" width="40" height="40">
            <strong>@{{ profile_owner.username }}</strong>
          </a>
          <ul class="nav flex-column mt-4 text-start">
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'home' %}"><i class="bi bi-house-door me-2"></i>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'notifications' %}">
                <i class="bi {% if unread_notifications %}bi-bell-fill{% else %}bi-bell{% endif %} me-2"></i>Notis
              </a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link text-white" href="{% url 'followers' profile_owner.username %}"><i class="bi bi-person me-2"></i>Followers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'following' profile_owner.username %}"><i class="bi bi-person-fill me-2"></i>Following</a>
            </li>
            {% if is_own_profile %}
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'view_bookmarks' %}"><i class="bi bi-save2 me-2"></i>Bookmarks</a>
            </li>
            {% endif %}
          </ul>
          <button class="btn btn-light w-100 mt-3" data-bs-toggle="modal" data-bs-target="#createPostModal">
            Create Post
          </button>
        </div>
      </nav>

      <!-- Create Post Modal -->
      <div class="modal fade" id="createPostModal" tabindex="-1" aria-labelledby="createPostModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="createPostModalLabel">Create a Post</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{% url 'create_post' %}" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="modal-body">
                <textarea name="text" class="form-control mb-3" placeholder="What's on your mind?" maxlength="1000"
                  required></textarea>

                <input type="text" name="game_title" class="form-control mb-3" placeholder="Enter game title, e.g., Call of Duty"
                  maxlength="100">

                <label>Upload Image (Max: 20MB)</label>
                <input type="file" name="image" class="form-control mb-3" accept="image/*">

                <label>Upload Video (Max: 200MB)</label>
                <input type="file" name="video" class="form-control mb-3" accept="video/*">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Post</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      {% if form.errors %}
      <div class="alert alert-danger">
        <ul>
          {% for field, errors in form.errors.items %}
          {% for error in errors %}
          <li>{{ error }}</li>
          {% endfor %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <!-- Main Content -->
      <main class="col-xxl-7 col-xl-6 col-lg-6 px-4 main-content" style="background-color: black">
        <div class="container mt-5">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <img src="{% if user_profile.avatar %}{{ user_profile.avatar.url }}{% else %}{% static 'images/default_avatar.png' %}{% endif %}"
                        class="rounded-circle me-3" alt="Profile Picture" width="180" height="180">
                    <div>
                    <div> 
                        <h3>{{ first_name }} {{ last_name }}</h3>
                        <p style="color: white;">@{{ profile_owner.username }}</p>
                        <h6>{{ user_profile.bio }}</h6>
                        {% if not is_own_profile %}
                        <button class="btn btn-outline-dark ms-2 follow-btn" data-username="{{ profile_owner.username }}">
                          {% if is_following %}
                          Unfollow
                          {% else %}
                          Follow
                          {% endif %}
                        </button>
                        {% endif %}
                        {% if is_own_profile %}
                        <button class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#editProfileModal">Edit Profile</button>
                        {% endif %}
                    </div>
                </div>
            </div>

             <!-- Edit Profile Modal Structure -->
          <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="POST" enctype="multipart/form-data" action="{% url 'edit_profile' %}">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           <!-- First Name Field -->
                            <div class="mb-3">
                              <label for="first_name" class="form-label">First Name</label>
                              <input type="text" class="form-control" id="first_name" name="first_name" value="{{ first_name }}">
                            </div>
                            
                            <!-- Last Name Field -->
                            <div class="mb-3">
                              <label for="last_name" class="form-label">Last Name</label>
                              <input type="text" class="form-control" id="last_name" name="last_name" value="{{ last_name }}">
                            </div>

                            <!-- Bio Field -->
                            <div class="mb-3">
                                <label for="bio" class="form-label">Bio</label>
                                <textarea class="form-control" id="bio" name="bio" rows="3">{{ request.user.userprofile.bio }}</textarea>
                            </div>

                            <!-- Avatar Upload Field -->
                            <div class="mb-3">
                                <label for="avatar" class="form-label">Avatar</label>
                                <input type="file" class="form-control" id="avatar" name="avatar">

                                {% if user_profile.avatar %}
                                    <img src="{{ user_profile.avatar.url }}" alt="Current Avatar" class="mt-2" width="50">
                                {% else %}
                                    <img src="{% static 'images/default_avatar.png' %}" alt="Default Avatar" class="mt-2" width="50">
                                {% endif %}
                            </div>

                            <!-- Remove Avatar Checkbox -->
                            {% if user_profile.avatar %}
                            <label>
                              <input type="checkbox" name="remove_avatar" value="true">
                              Remove current avatar
                            </label>
                            {% endif %}

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
          </div>

          <button class="back-button" onclick="history.back()" aria-label="Go Back">
            <i class="bi bi-arrow-left"></i>
          </button>
          
          <h3 class="mb-4 mt-3">Recent Posts</h3>
          <!-- Post Cards -->
          {% for post in posts %}
          <div class="card mb-4">
            <div class="card-body" onclick="openPostDetail( '{{ post.id }}' )" style="cursor: pointer;">
              <div class="d-flex">
                <img src="{% if post.author.userprofile.avatar %}{{ post.author.userprofile.avatar.url }}{% else %}{% static 'images/default_avatar.png' %}{% endif %}"
                  class="rounded-circle me-2" alt="Avatar" width="50" height="50">
                <div>
                  <strong>{{ post.author.first_name }} {{ post.author.last_name }}</strong> <span class="text-muted">@{{request.user.userprofile}}</span>
                  <span class="text-muted">{{ post.timestamp|timesince }} 
                    <!-- 📈{{ post.views_count }} -->
                  </span>
                    
                </div>
              </div>
              <p class="mt-3" style="color: white;">{{ post.text }}</p>
              {% if post.image %}
                <img src="{{ post.image.url }}" class="rounded float-right" style="max-width: 100%" alt="Post Image">
              {% endif %}
              {% if post.gif %}
                <img src="{{ post.gif.url }}" class="rounded float-right" style="max-width: 100%;" alt="GIF">
              {% endif %}
              {% if post.video %}
                  <video width="500" height="300" controls autoplay muted>
                    <source src="{{ post.video.url }}" type="video/mp4">
                      Your browser does not support the video tag.
                  </video>
              {% endif %}
              {% if post.emoji %}
                <span>{{ post.emoji }}</span>
              {% endif %}
            </div>

            <span class="mb-2">

            <button class="like-btn mb-2" data-post-id="{{ post.id }}" type="button">
              <i class="bi {% if user in post.likes.all %}bi-heart-fill{% else %}bi-heart{% endif %}"></i>
              <span class="like-count" data-post-id="{{ post.id }}">{{ user_likes.post.id }}</span>
            </button>

            <button class="bookmark-btn btn btn-outline-dark btn-sm" id="bookmark-btn-{{ post.id }}" data-post-id="{{ post.id }}">
              {% if post.id in bookmarked_posts %}
              Unbookmark
              {% else %}
              Bookmark
              {% endif %}
            </button>
            
            {% if is_own_profile %}
            <!-- Update Button -->
            <button class="btn btn-warning btn-sm update-post-btn" data-post-id="{{ post.id }}" data-post-content="{{ post.text }}" data-game-title="{{ post.game_title|default:'' }}">
              Edit
            </button>

            <!-- Delete Button -->
            <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{ post.id }}">
              Delete
            </button>
            {% endif %}

            </span>

            <!-- Delete Confirmation Modal -->
            <div class="modal fade" id="deleteModal{{ post.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ post.id }}"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel{{ post.id }}">Confirm Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to delete this post? This action cannot be undone.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form method="POST" action="{% url 'delete_post' post.id %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <!-- Update Post Modal -->
            <div class="modal fade" id="updatePostModal" tabindex="-1" aria-labelledby="updatePostModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="updatePostModalLabel">Update Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form id="updatePostForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                      <textarea id="updatePostText" name="text" class="form-control mb-3" placeholder="Edit your post content"
                        maxlength="1000" required></textarea>

                      <label for="updateGameTitle" class="form-label">Game Title</label>
                      <input type="text" id="updateGameTitle" name="game_title" class="form-control" value="{{ post.game_title|default:'' }}">
                      
                      <label>Change Image (Optional, Max: 20MB)</label>
                      <input type="file" id="updatePostImage" name="image" class="form-control mb-3" accept="image/*">
            
                      <label>Change Video (Optional, Max: 200MB)</label>
                      <input type="file" id="updatePostVideo" name="video" class="form-control mb-3" accept="video/*">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

      
          {% empty %}
            <p class="text-muted">No posts yet.</p>
          {% endfor %}

      </main>


      <!-- Aside Content -->
      <aside class="col-xxl-3 col-xl-3 col-lg-3 px-1 d-flex flex-column" style="background-color: black">
        <div class="position-sticky" style="top: 20px;">
          <div class="search-bar mb-4 mt-3">
            <input type="text" id="searchInput" class="form-control" placeholder="Search Network">
            <div id="searchResults" class="card mt-3 d-none" style="max-height: 400px; overflow-y: auto; color: white; text-decoration: none;">
            </div>
          </div>

          <div class="suggestions-card card p-3">
            <h5 class="mb-3">Gamers around you</h5>
            <ul class="list-unstyled">
              {% for profile in recommendations %}
              <li class="d-flex align-items-center mb-3">
                <img src="{% if profile.avatar %}{{ profile.avatar.url }}{% else %}{% static 'images/default_avatar.png' %}{% endif %}"
                class="rounded-circle" alt="{{ profile.user.username }}" width="40" height="40">
                <div class="ms-2" >
                  <a href="{% url 'profile' profile.user.username %}" style="text-decoration: none; color:white;">
                    {{ profile.user.username }}
                  </a>
                </div>
                <div>
                  <button class="btn btn-outline-dark ms-2 follow-btn" data-username="{{ profile.user.username }}">
                    {% if user in profile_user.followers.all %}
                    Unfollow
                    {% else %}
                    Follow
                    {% endif %}
                  </button>
                </div>
              </li>
              {% empty %}
              <p>No recommendations available.</p>
              {% endfor %}
            </ul>

          </div>
        </div>
      </aside>
    </div>
  </div>

  
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <script>
    function openPostDetail(postId) {
      window.location.href = `{% url 'post_detail' 0 %}`.replace(0, postId);
    }
  </script>
  
  <script src="{% static 'js/bookmark.js' %}"></script>
  <script src="{% static 'js/delete_post.js' %}"></script>
  <script src="{% static 'js/update_post.js' %}"></script>
  <script src="{% static 'js/global_search.js' %}"></script>
  <script src="{% static 'js/search_results.js' %}"></script>
  <script src="{% static 'js/follow.js' %}"></script>
  <script src="{% static 'js/like.js' %}"></script>
  <script src="{% static 'js/check_noti.js' %}"></script>

</body>
</html>
{% endblock %}