{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PostAll</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/cyborg/bootstrap.min.css">
</head>
<body>
    <div class="d-flex justify-content-center">
        <form method="POST">
            {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            {% endif %}
            {% csrf_token %}
            <br>
            <h2>Log In</h2>
            <br>
            {{ form|crispy }}
            <p> Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
            <button type="submit" class="btn btn-outline-dark">Log In</button>
        </form>
    </div>

</body>
</html>
{% endblock %}