{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PostAll</title>
    <!-- <link rel ="stylesheet" href ="/static/css/style.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/cyborg/bootstrap.min.css">
</head>
<body>
    <div class="d-flex justify-content-center">
        <form method="POST">
            <br>    
            <h2>SignUp</h2>
            <br>
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>       
                {% endfor %}
            {% endif %}
            {% csrf_token %}
            <br>
            {{ form|crispy }}
            <p> Already have an account? <a href="{% url 'login' %}">Log In</a></p>
            <button type="submit" class="btn btn-outline-dark">Register</button>
        </form>
    </div>

</body>
</html>
{% endblock %}